.service-item {
  border: 1px solid #E6A779;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 160px;
  transition: background-color .1s linear;
  margin: 12px 20px;
  font-family: 'audrey';
  font-weight: lighter;
}
.service-item:hover,
.service-item.active {
  background-color: #E6A779;
  color: white;
}
